.banner_content {
  position: absolute;
  width: 1152px;
  height: 304px;
  left: 360px;
  top: 88px;
  background: #f6f7f9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner_content h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
}

.banner_content button {
  width: 218px;
  height: 48px;
  background-color: #181b32;
  color: white;
  border-radius: 10px;
  position: absolute;
  left: 450px;
  top: 180px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 44px;
}
